.questionData {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questionDataText{
    font-weight: 700 !important;
}

.answerContainer {
    height: 250px;
    overflow-y: auto;
}