.questionData {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qCard {
    width: 70%;
    border: 1px solid black;
}

.questionDataText{
    font-weight: 700 !important;
}

.questionTitle{
    color: black;
}

.questionTitle:hover{
    cursor: pointer;
    color: #1976d2;
}