.userItem {
    height: 73px;
    width: 210px;
    background-color: rgb(211, 211, 211);
    float: left;
    margin-right: 13px;
    margin-bottom: 21px;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.name{
    font-weight: 700 !important;
}