.answerData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.aCard {
    width: 80%;
    border: 1px solid black;
}

.answerDataText{
    font-weight: 500 !important;
    font-size: 16px !important;
}

.questionTitle{
    color: black;
}

.deleteButton {
    cursor: pointer;
    color: #8a3737;
    font-size: 20px;
}
